@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Seja bem vindo a nossa Loja de chapéus 
    (com registro de Vendas!)</h1>
    <p> Aqui você pode registrar as vendas e verificar os compradores e clientes 
    (bem como excluir Cadastros indesejados...)</p>
</div>

<!-- Verificar problema do Edit -->