


<div class="text-center">
    <h1 class="display-4">
        Venda não Cadastrada pois, ou não há um cliente registrado ou o nome digitado estava errrado -_- ;
        Favor, buscar um registro válido ou existente!
    </h1>
</div>