@model MercadinhoNuvensFofas.Models.Venda

@{
    ViewData["Title"] = "Edit";
}

<h1>Devolver os produtos</h1>

<!-- modificar para apenas alterar os produtos e não outras informações, 
    pois editar ou excluir uma venda já existente não é o correto-->

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVenda" />
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProd" class="control-label"></label>
                <select asp-for="IdProd" class="form-control" asp-items="ViewBag.IdProd"></select>
                <span asp-validation-for="IdProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBeb" class="control-label"></label>
                <select asp-for="IdBeb" class="form-control" asp-items="ViewBag.IdBeb"></select>
                <span asp-validation-for="IdBeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdForma" class="control-label"></label>
                <select asp-for="IdForma" class="form-control" asp-items="ViewBag.IdForma"></select>
                <span asp-validation-for="IdForma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCompra" class="control-label"></label>
                <input asp-for="DataCompra" class="form-control" />
                <span asp-validation-for="DataCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdProd" class="control-label"></label>
                <input asp-for="QtdProd" class="form-control" />
                <span asp-validation-for="QtdProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdBeb" class="control-label"></label>
                <input asp-for="QtdBeb" class="form-control" />
                <span asp-validation-for="QtdBeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPagar" class="control-label"></label>
                <input asp-for="TotalPagar" class="form-control" />
                <span asp-validation-for="TotalPagar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
