@model EscolaAmarelinhas.Models.Boletim

@{
    ViewData["Title"] = "Edit";
}

<h1>Alteração de Notas - Boletim</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdBoletim" />
            <div class="form-group">
                <label asp-for="IdAluno" class="control-label"></label>
                <select asp-for="IdAluno" class="form-control" asp-items="ViewBag.IdAluno"></select>
                <span asp-validation-for="IdAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDisciplina" class="control-label"></label>
                <select asp-for="IdDisciplina" class="form-control" asp-items="ViewBag.IdDisciplina"></select>
                <span asp-validation-for="IdDisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaDisciplina" class="control-label"></label>
                <input asp-for="NotaDisciplina" class="form-control" />
                <span asp-validation-for="NotaDisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
