@model MercadinhoNuvensFofas.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h1 class="jumbotron"> Cadastrar </h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data"> <!-- sobre imagens -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeProd" class="control-label"></label>
                <input asp-for="NomeProd" class="form-control" />
                <span asp-validation-for="NomeProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdDispProd" class="control-label"></label>
                <input asp-for="QtdDispProd" class="form-control" />
                <span asp-validation-for="QtdDispProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoProd" class="control-label"></label>
                <input asp-for="PrecoProd" class="form-control" type="number" />
                <span asp-validation-for="PrecoProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imgProd" class="control-label"></label>
                <input type="file" name="fotoAnexo" />
                <span asp-validation-for="imgProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
