@model MercadinhoNuvensFofas.Models.Bebida

@{
    ViewData["Title"] = "Create";
}



<h4>Cadastro de Bebidas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeBeb" class="control-label"></label>
                <input asp-for="NomeBeb" class="form-control" />
                <span asp-validation-for="NomeBeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdDispBeb" class="control-label"></label>
                <input asp-for="QtdDispBeb" class="form-control" />
                <span asp-validation-for="QtdDispBeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoBeb" class="control-label"></label>
                <input type="number" asp-for="PrecoBeb" class="form-control" />
                <span asp-validation-for="PrecoBeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgBeb" class="control-label"></label>
                <input type="file" name="fotoAnexo" />
                <span asp-validation-for="ImgBeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
