@model EscolaAmarelinha.Models.Aluno

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de Alunos</h1>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"> <!-- <form> é igual ao AutoPostBack -->

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!-- asp-for dentro do LABEL HTML é igual DisplayNameFor -->
                <label asp-for="DataMatriculaAluno" class="control-label"></label>
                <!-- asp-for dentro do INPUT HTML é igual EditorFor -->
                <input asp-for="DataMatriculaAluno" class="form-control" />
                <span asp-validation-for="DataMatriculaAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MensalidadeAluno" class="control-label"></label>
                <input asp-for="MensalidadeAluno" class="form-control" />
                <span asp-validation-for="MensalidadeAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeAluno" class="control-label"></label>
                <input asp-for="NomeAluno" class="form-control" />
                <span asp-validation-for="NomeAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoAluno" class="control-label"></label>
                <!--<input asp-for="CursoAluno" class="form-control">-->
                <!--utilizar um DropDownList (ComboBox)-->
                <select asp-for="CursoAluno" class="form-control">
                    <option value="Informática">Curso de Informática</option>
                    <option value="Eletrônica">Curso de Eletrônica</option>
                    <option value="Mecânica">Curso de Mecânica</option>
                </select>
                <input asp-for="CursoAluno" class="form-control" />
                <span asp-validation-for="CursoAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroAluno" class="control-label"></label>
                <!-- <input asp-for="GeneroAluno" class="form-control"> -->
                <!-- Utilizar Radio Buttons-->
                <p> <input type="radio" asp-for = "GeneroAluno" /> value = "Masculino"</p>
                <p> <input type="radio" asp-for = "GeneroAluno" /> value = "Feminino"</p>
                <span asp-validation-for="GeneroAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
